table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    margin-left: 350px;
}

h1{
    text-align: center;
}

.lun{
    font-weight: 600;
}


#ma{
    font-weight: 600;
}